@import "tailwindcss";

@theme inline {
  --color-background: #131313;
  --color-surface-lowest: #0E0E0E;
  --color-surface-low: #1B1B1B;
  --color-surface: #1F1F1F;
  --color-surface-high: #2A2A2A;
  --color-surface-highest: #353535;
  --color-outline: #919191;
  --color-outline-variant: #474747;
  --color-on-surface: #E2E2E2;
  --color-on-surface-variant: #C6C6C6;
  --color-primary: #FFFFFF;
  --color-on-primary: #1A1C1C;
  --color-primary-container: #D4D4D4;
  --color-error: #FFB4AB;
  --color-foreground: #E2E2E2;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
}

::selection {
  background: var(--color-primary);
  color: var(--color-on-primary);
}

* {
  border-radius: 0 !important;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
  cursor: crosshair;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #131313;
}

::-webkit-scrollbar-thumb {
  background: #474747;
}

::-webkit-scrollbar-thumb:hover {
  background: #919191;
}
